// This file is empty within the template
// You can use it to override CSS from within your project

.section {
    background-color: #DAEBD2;
}

.p-5 {
    background-color: #EAF2E5;
}

.btn-primary {
    background-color: #00415D;
}

.btn-link {
    color: #00415D;
    font-weight: 600;
}

.slick-dots li.slick-active button{
    background-color: #00415D;
}

.slick-dots li button{
    border: 1px solid #00415D
}

.check-mark::before {
    color: #00415D;
}